<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi a vitae quae labore mollitia laborum voluptatem, explicabo adipisci veritatis, molestiae error. Voluptatibus blanditiis, modi voluptas quibusdam perferendis culpa saepe deleniti?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ipsum praesentium quasi amet. Accusantium ipsam eum quidem vitae voluptatem, aut unde tempore quisquam magni ab in. Molestias dignissimos assumenda fuga?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, voluptas. Temporibus assumenda iusto accusamus quasi explicabo tenetur aut, necessitatibus repudiandae repellat optio impedit dolorum asperiores facere architecto. Ipsa, unde enim.
    </p>
</article>
