<div class="container" *ngIf="project">
    <div class="image" *ngIf="project.img">
        <img src="{{url+'get-image/'+project.img}}" alt="Project Image">
    </div>
    <div class="data">
        <h1>{{project.name}}</h1>
        <h3>{{project.description}}</h3>
        <p>{{project.category}}</p>
        <p>{{project.languages}}</p>

        <p *ngIf="confirm == false">
            <a [routerLink]="['/editar-proyecto', project._id]" class="btn-edit">Editar</a>
            <a (click)="setConfirm(true)" class="btn-del">Eliminar</a>
        </p>

        <p *ngIf="confirm == true">
            <span class="confirm">Estas seguro, seguro de eliminar?</span>
            <a (click)="setConfirm(false)" class="btn-edit">Cancelar</a>
            <a (click)="deleteProject(project._id)" class="btn-del">Eliminar Definitivamente</a>
        </p>
    </div>
</div>