<div class="container">
    <h2>{{title}}</h2>
    <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
        <p>
            <label for="namefield">Nombre: </label>
            <input type="text" name="namefield" #namefield="ngModel" [(ngModel)]="project.name">
        </p>
        <p>
            <label for="descriptionfield">Descripción: </label>
            <textarea type="text" name="descriptionfield" #descriptionfield="ngModel" [(ngModel)]="project.description"></textarea>
        </p>
        <p>
            <label for="categoryfield">Categoria: </label>
            <input type="text" name="categoryfield" #categoryfield="ngModel" [(ngModel)]="project.category">
        </p>
        <p>
            <label for="yearfield">Years: </label>
            <input type="number" name="yearfield" #yearfield="ngModel" [(ngModel)]="project.year">
        </p>
        <p>
            <label for="languagefield">Languaje: </label>
            <input type="text" name="languagefield" #languagefield="ngModel" [(ngModel)]="project.languages">
        </p>

        <p>
            <label for="imagefield">Imagen: </label>
            <input type="file" name="imagefield" placeholder="Subir imagen">
        </p>

        <input type="submit" value="Send">
    </form>
</div>