<h3>{{title}}</h3>

<p>Agregar marca</p>
<input type="text" [(ngModel)]="miMarca" (keyup.enter)="getWord();"> <br>
<button (click)='getMarca();'>send</button>
<button (click)='addMarca();'>add</button>
{{miMarca}}

<p>Nombres de las marcas</p>
<ul>
    <li *ngFor="let name of names; let i = index">
        {{i}}.- {{name}}
        <button (click)='deleteMarca(i)'>DELETE</button>
    </li>
</ul>

<p>Las zapatillas</p>
<ul>
    <li *ngFor="let shoe of shoes">
        <span [ngStyle]="{
            'text-decoration': !shoe.stock ? 'line-through' : 'none'
        }">
            {{shoe.name}} - {{shoe.price}} - <strong>{{shoe.color}}</strong>
        </span>

        <div *ngIf="shoe.stock">
            <span *ngIf="shoe.price < 500" [style.background]="shoe.price < 500 ? 'green' : 'transparent'"
                [style.color]="shoe.price < 500 ? '#fff': '#000'"> ¡EN OFERTA!</span>
        </div>
    </li>
</ul>

<p>El color de la zapatilla es?</p>
<input [(ngModel)]='color'/>
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'">
        <span [style.background]="color">{{color}}</span>
    </li>
    <li *ngSwitchCase="'green'">
        <span [style.background]="color">{{color}}</span>
    </li>
    <li *ngSwitchCase="'blue'">
        <span [style.background]="color">{{color}}</span>
    </li>
</ul>