@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 20px;
  background-image: url('../img/pattern.png');
  position: fixed;
}
